@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Black+Ops+One&family=Dancing+Script:wght@700&family=Roboto:ital,wght@0,400;1,300&display=swap");

Paleta de cores {
  color: #efd9ce;
  color: #dec0f1;
  color: #b79ced;
  color: #957fef;
  color: #7161ef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Black Ops One", sans-serif;
}
body {
  background-color: #b79ced;
  display: flex;
  justify-content: center;
}
#container {
  background-color: #957fef;
  border: 5px solid #957fef;
  height: 900px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#container div {
  border: 1px solid #7161ef;
  background-color: #7161ef;
  border-radius: 15%;
  height: 150px;
  width: 200px;
  text-align: center;
  padding-top: 50px;
  color: #fff;
  font-size: 32px;
  cursor: pointer;
}
#container h1 {
  color: rgb(255, 186, 58);
  font-size: 100px;
  margin-bottom: 150px;
}

#container p {
  margin: 20px;
  color: white;
}

#delete {
  border: 1px solid rgb(252, 24, 24);
  border-radius: 5%;
  width: 150px;
  height: 50px;
  text-align: center;
  background-color: rgb(252, 24, 24);
  cursor: pointer;
}
